if needActionsContents['waiting_validation'].length
    table.table.table-hover.table-bordered#contentsWaitingValidationDataTable
        thead
            tr
                th Titre          
                th Famille            
                th Date de mise à jour
        tbody
            each content in needActionsContents['waiting_validation']
                tr
                    td
                        a(href="/contents/edit/" + content.id data-id=`${content.id}`)
                            | #{content.title}
                    td
                        if content.itsTheme
                            | #{content.itsTheme}
                            
                    td(data-sort=content.updatedAt) #{prettyDate(content.updatedAt)}
else
    Il n'y a pas de contenu en attente de validation pour le moment.