extends layouts/_layout.pug

block variables
	- var activePage = 'page-quizz-categories-list'
	// - var activeGroup = 'tables'

block title
	title Catégories - Tumeplay

block content
	.app-title
		div
			h1
				i.fa.fa-table
				|  Catégories
			p Liste des catégories associées aux questions & contenus

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item.active
				a(href="#") Catégories

	.row
		.col-md-12
			.tile
				.tile-body
					table.table.table-hover.table-bordered#categoriesDataTable
						thead
							tr
								th Titre
								th Photo
								th Thematique
								th Date de création
								th Date de mise à jour
								th Publié
								th Actions
						tbody
							each category in categories
								tr
									td #{category.title}
									td
										if category.picture && category.picture.path
											//- Going back to the root to get the picture using ../
											img.pic-image-box(src=`../${category.picture.path}`)
									td #{category.itsTheme ? category.itsTheme.title : null}
									td(data-sort=category.createdAt) #{prettyDate(category.createdAt)}
									td(data-sort=category.updatedAt) #{prettyDate(category.updatedAt)}
									td
										if category.published
											i.fa.fa-check.fa-lg
										else
											i.fa.fa-cross.fa-lg
									td
										if isAllowed(req, "thematics", "global", "edit")
											a(class='btn btn-primary' href="/quizzs/categories/edit/" + category.id data-id=`${category.id}`) 
												i.fa.fa-fw.fa-lg.fa-check-circle 
												| Éditer
										if isAllowed(req, "thematics", "global", "delete")
											| &nbsp;&nbsp;&nbsp;
											a(class='delete-item btn btn-secondary' href="#" data-id=`${category.id}`) 
												i.fa.fa-fw.fa-lg.fa-times-circle
												| Supprimer
				if isAllowed(req, "thematics", "global", "add")
					.tile-footer
						a(class='btn btn-primary' href="/quizzs/categories/add") 
							i.fa.fa-fw.fa-lg.fa-plus 
							| Ajouter une catégorie

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="/js/plugins/sweetalert.min.js")
	script(type='text/javascript').
		$('#categoriesDataTable').DataTable();
		$('.delete-item').click(function(){
			swal({
				title				: "Supprimer la catégorie ?",
				text				: "La suppression d'une catégorie est définitive.",
				type				: "warning",
				showCancelButton	: true,
				confirmButtonText	: "Supprimer",
				cancelButtonText	: "Annuler",
				closeOnConfirm		: false,
				closeOnCancel		: false
			}, 
			function(isConfirm) 
			{
				if (isConfirm) 
				{
					swal("Supprimé", "[WIP/TODO] Supprimer élément", "success");
				} else {
					swal("Annulé", "Aucune action n'a été réalisée.", "error");
				}
			});
		});