extends layouts/_layout.pug

block variables
	- var activePage = 'page-poi'

block title
	title Point d'Interêt ( POI ) - Tumeplay

block content
	.app-title
		div
			h1
				i.fa.fa-book
				|  POI
			p Liste des POI

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			//li.breadcrumb-item
			//	| Tables
			li.breadcrumb-item.active
				a(href="#") POI

	.row
		.col-md-12
			.tile
				.tile-body
					table.table.table-hover.table-bordered#poiDataTable
						thead
							tr
								th Nom
								th Type
								th Rue
								th Code Postal
								th Date de création
								th Date de mise à jour
								th Actions
						tbody
							each poi in pois
								tr
									td #{poi.name}
									td #{poi.type}
									td #{poi.street}
									td #{poi.zipCode}
									td #{prettyDate(poi.createdAt)}
									td #{prettyDate(poi.updatedAt)}
									td
										if isAllowed(req, "poi", "global", "edit")
											a(class='btn btn-primary' href="/poi/edit/" + poi.id data-id=`${poi.id}`) 
												i.fa.fa-fw.fa-lg.fa-check-circle 
												| Éditer
											
										if isAllowed(req, "poi", "global", "delete")
											| &nbsp;&nbsp;&nbsp;
											form(action="/poi/delete/" + poi.id, method="POST", onsubmit="deleteConfirmation(this); return false;")
												button(class='delete-item btn btn-secondary' type="submit") 
													i.fa.fa-fw.fa-lg.fa-times-circle
													| Supprimer
												
				if isAllowed(req, "poi", "global", "add")
					.tile-footer
						a(class='btn btn-primary' href="/poi/add") 
							i.fa.fa-fw.fa-lg.fa-plus 
							| Créer POI						

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins//jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins//dataTables.bootstrap.min.js")
	script(type='text/javascript', src="/js/plugins//sweetalert.min.js")
	script(type='text/javascript').
		function deleteConfirmation(form){
			swal({
				title				: "Supprimer le POI ?",
				text				: "La suppression d'un POI est définitive.",
				type				: "warning",
				showCancelButton	: true,
				confirmButtonText	: "Supprimer",
				cancelButtonText	: "Annuler",
				closeOnConfirm		: false,
				closeOnCancel		: false
			}, 
			function(isConfirm) 
			{
				if (isConfirm) 
				{
					swal("Supprimé", "Supprimer élément", "success");
					form.submit();
					return;
				} else {
					swal("Annulé", "Aucune action n'a été réalisée.", "error");
					return;
				}
			});
		}

		$('#poiDataTable').DataTable();