extends layouts/_layout.pug

block variables
	- var activePage = 'page-order-management'
	// - var activeGroup = 'tables'

block title
	title Commandes - Tumeplay

block content
	.app-title
		div
			h1
				i.fa.fa-book
				|  Commandes
			p Liste des commandes

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			//li.breadcrumb-item
			//	| Tables
			li.breadcrumb-item.active
				a(href="#") Commandes

	.row
		.col-md-12
			.tile
				.tile-body
					.toolbar.mb-3
						label.mr-3 Actions : 
						a.btn.btn-sm.btn-primary(href="/orders/management/export/csv") Export CSV 
					
						hr
					
					table.table.table-hover.table-bordered#ordersDataTable
						thead
							tr
								th Réference (ID)
								th Date de commande
								th Destinataire
								th E-mail
								th Address de livraison
								th Type de livraison
								th Box
								if zones.length > 1 
									th Zone(s)
								th Actions
						tbody
							each order in orders
								tr
									td #{order.id}
									td(data-sort=order.orderDate) #{order.orderDate ? prettyDate(order.orderDate) : ""}
									td #{order.profileFullName}
									td #{order.profileEmail}
									if order.shippingModeText == 'pickup'
										td 
											| #{order.pickup.name}
											br 
											| #{order.pickup.street}  
											br 
											| #{order.pickup.zipCode} #{order.pickup.city}  
									else
										td #{order.shippingAddressConcatenation}
									td 
										| #{order.shippingModeText}
										if order.shippingModeText == 'pickup'
											button.generate-print.btn-sm.btn-secondary.ml-3(style="border: 0;", title="Régénérer une étiquette", data-id=order.id)
												i.fa.fa-refresh
									td #{order.box.title}						
									if zones.length > 1
										td
											ul
											for zone in order.availability_zone
												li #{zone.name}
									td
										a(class='btn btn-primary' href="/orders/management/edit/"+ order.id data-id=`${order.id}`)
											i.fa.fa-fw.fa-lg.fa-check-circle 
											| Éditer
										if isAllowed(req, "orders", "global", "delete")
											| &nbsp;&nbsp;&nbsp;
											form(action="/orders/management/delete/" + order.id, method="POST", onsubmit="deleteConfirmation(this); return false;")
												button(class='delete-item btn btn-secondary' type="submit") 
													i.fa.fa-fw.fa-lg.fa-times-circle
													| Annuler

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="/js/plugins/sweetalert.min.js")
	script(type='text/javascript').
		$('#ordersDataTable').DataTable();
		function deleteConfirmation(form){
			swal({
				title				: "Annuler la commande ?",
				text				: "L'annulation d'une commande est définitive.",
				type				: "warning",
				showCancelButton	: true,
				confirmButtonText	: "Supprimer",
				cancelButtonText	: "Annuler",
				closeOnConfirm		: false,
				closeOnCancel		: false
			}, 
			function(isConfirm) 
			{
				if (isConfirm) 
				{
					swal("Commande annulée", "La commande a bien été annulée.", "success");
					form.submit();
					return;
				} else {
					swal("Annulé", "Aucune action n'a été réalisée.", "error");
					return;
				}
			});
		}      
		
		$(document).on('click', '.generate-print', function() {
			var _localId = $(this).attr('data-id');
		    swal({
				title				: "Générer une nouvelle étiquette ?",
				text				: "<br /><p>Souhaitez-vous générer une nouvelle étiquette MR pour cette commande ?</p><br />",
				type				: "info",
				html				: true,
				showCancelButton	: true,
				confirmButtonText	: "Générer",
				cancelButtonText	: "Annuler",
				closeOnConfirm		: false,
				closeOnCancel		: false
			}, 
			function(isConfirm) 
			{
				if (isConfirm) 
				{
					$.get('/orders/management/generate-mondial-relay/' + _localId, function(data){
						if( data.success )
						{
							swal({
								title				: "Succès",
								text				: '<br /><p>Une nouvelle étiquette est disponible sur <a href="/'+ data.path +'" target="_blank">ce lien</a>.</p><br />',
								type				: "success",
								html				: true,
								showCancelButton	: false,
								confirmButtonText	: "Terminer", 
							})
						}
						else
						{
							swal("Annulé", "Une erreur est survenue durant la génération.", "error");
						}
					});
					
					return;
				} else {
					swal("Annulé", "Aucune action n'a été réalisée.", "error");
					return;
				}
			});
		});