block content
	if question
		- var targetUrl = "/quizzs/questions/edit/" + question.id

	else
		- var targetUrl = "/quizzs/questions/add"


	.row
		.col-md-6
			.tile
				if question
					input(type="hidden", name="question[id]" value=`${question.id}`)
				.form-group
					label.control-label Titre
					if question
						input.form-control(type="text" name="question[title]" placeholder="Titre de la question ( usage interne uniquement )" value=`${question.title}`)
					else
						input.form-control(type="text" name="question[title]" placeholder="Titre de la question ( usage interne uniquement )")


				.form-group.form-inline
					label.col-3.pl-0.control-label(style="justify-content: left;") Photo de la question:
					
					
					if questionPicture
						input.col-6.form-control(type="file" name="questionPicture")
						img.col-3(src=`/${questionPicture.path}`)
					else
						input.col-9.form-control(type="file" name="questionPicture")
				.form-group
					label.control-label Question :

					if question
						textarea.form-control.limited-length(rows="5" data-maxlength="92" name="question[content]" placeholder="Question")=question.content
					else
						textarea.form-control.limited-length(rows="5" data-maxlength="92" name="question[content]" placeholder="Question")

					label.limited-counter 92 caractères restants.

				.form-group
					label.control-label Texte de réponse :

					if question
						textarea.form-control.limited-length(rows="10" data-maxlength="360" name="question[answerText]" placeholder="Texte de réponse")=question.answerText
					else
						textarea.form-control.limited-length(rows="10" data-maxlength="360" name="question[answerText]" placeholder="Texte de réponse")

					label.limited-counter 360 caractères restants.

				br

				.animated-checkbox
					label
						if question
							input(type="checkbox" name="question[published]" checked=question.published)
						else
							input(type="checkbox" name="question[published]")

						span.label-text Publié

				br
				
				if hasSound
					each zone in allZones
						if zone.enableSound
							- var _name = "questionSound[zone_"+ zone.id +"]"
							label.control-label Fichier audio pour la question ( #{zone.name} )
							input.form-control(type="file" name=`${_name}`)
							
							if questionSounds
								
								each sound in questionSounds
									if sound.availabilityZoneId == zone.id && ( sound.question_sound.soundType == "question" || !sound.question_sound.soundType )
										p.mt-3.font-weight-bold Fichier existant :  
											a(href="/" + sound.path, target="blank") #{sound.filename}
											span.mr-3.ml-3 -
											a.delete-sound(href="#",data-type="question", data-origin=question.id, data-sound=sound.id, style="color: red;") Supprimer

							hr
		.col-md-6
			.tile
				h4 Gérer les réponses
				div
					a.btn.btn-secondary(id="newAnswerBtn", style="color: #FFF") Créer une réponse et cocher les bonnes réponses
				br
				div()
					table.col-md-12
						thead
							tr
								th.pl-2.pr-2
									i.fa.fa-question
								th.pl-2.pr-2
									i.fa.fa-check
								th.pl-2.pr-2
									i.fa.fa-times
								th Texte
						tbody#responseList
							if answers && answers.length > 0
								each answer, i in answers
									- var _isWrong = ( answer.isCorrect == false && answer.isNeutral == false )
									tr.question-row
										td.pl-2.pr-2
											input(type="radio" name="answerItems["+i+"][questionState]" value="isNeutral" checked=answer.isNeutral)
										td.pl-2.pr-2
											input(type="radio" name="answerItems["+i+"][questionState]" value="isCorrect" checked=answer.isCorrect)
										td.pl-2.pr-2
											input(type="radio" name="answerItems["+i+"][questionState]" value="isWrong" checked=_isWrong)
										td
											input(type="text" class="limited-length" data-maxlength="30"  name="answerItems["+i+"][title]" value=`${answer.title}`)
											label.limited-counter.offset-1 30 caractères restants.
							else
								tr.question-row
									td.pl-2.pr-2
										input(type="radio" name="answerItems[0][questionState]" value="isNeutral")
									td.pl-2.pr-2
										input(type="radio" name="answerItems[0][questionState]" value="isCorrect")
									td.pl-2.pr-2
										input(type="radio" name="answerItems[0][questionState]" value="isWrong")
									td
										input(type="text" placeholder="Réponse n°1" class="limited-length" data-maxlength="30"  name="answerItems[0][title]" value=``)
										label.limited-counter.offset-1 30 caractères restants.
				
				hr
				
				if hasSound
					each zone in allZones
						if zone.enableSound
							- var _name = "questionAnswerSound[zone_"+ zone.id +"]"
							label.control-label Fichier audio pour la réponse ( #{zone.name} )
							input.form-control(type="file" name=`${_name}`)
							
							if questionSounds
								
								each sound in questionSounds
									if sound.availabilityZoneId == zone.id && sound.question_sound.soundType == "answer"
										p.mt-3.font-weight-bold Fichier existant :  
											a(href="/" + sound.path, target="blank") #{sound.filename}
											span.mr-3.ml-3 -
											a.delete-sound(href="#",data-type="question", data-origin=question.id, data-sound=sound.id, style="color: red;") Supprimer

							hr
		.clearfix
