.row
	.col-md-12
		.tile
			if content 
				h3.tile-title Modifier un POI
			else
				h3.tile-title Créer un nouveau POI
			
			if poi
				- var targetUrl = "/poi/edit/" + poi.id
			else
				- var targetUrl = "/poi/add"
				
			form.poi-form#myform(action=`${targetUrl}`, method="POST")
				
				if poi
					input(type="hidden" value=`${poi.id}`)
								
				.form-group
					label.control-label Titre
					if poi
						input.form-control(type="text", name="name", placeholder="Nom du POI" value=`${poi.name}`)
					else
						input.form-control(type="text", name="name", placeholder="Nom du POI")
				
				.form-group
					label.control-label Type
				
					select.col-md-3.form-control(name="type")
						option(value=0) - Sélectionner -
							each type in types
								if poi && type == poi.type
									option(value=type, selected="selected")  #{type}
								else
									option(value=type) #{type}
				    
						
				.form-group
					label.control-label Description
					
					if poi
						textarea.form-control(rows="20", name="text", placeholder="Description")=poi.description
					else
						textarea.form-control(rows="20", name="text", placeholder="Description")
				
				
				.row
					.col-md-6
						.tile
							label.control-label Adresse
							
							if poi
								.form-group
									input.form-control(type="text", name="street", placeholder="Numéro et Rue" value=`${poi.street}`)
								.form-group
									input.form-control(type="text", name="zipCode", placeholder="Code Postal" value=`${poi.zipCode}`)
								.form-group
									input.form-control(type="text", name="city", placeholder="Ville" value=`${poi.city}`)
								
							else
								.form-group
									input.form-control(type="text", name="street", placeholder="Numéro et Rue")
								.form-group
									input.form-control(type="text", name="zipCode", placeholder="Code Postal")
								.form-group
									input.form-control(type="text", name="city", placeholder="Ville")          
							
					.col-md-6
						.tile
							label.control-label Localisation
							
							if poi
								.form-group
									input.form-control(type="text", name="latitude", placeholder="Latitude" value=`${poi.latitude}`)
								.form-group
									input.form-control(type="text", name="longitude", placeholder="Longitude" value=`${poi.longitude}`)

							else
								.form-group
									input.form-control(type="text", name="latitude", placeholder="Latitude")
								.form-group
									input.form-control(type="text", name="longitude", placeholder="Longitude")
					
					.col-md-6
						.tile
							label.control-label Horaires

							if poi && poi.horaires
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Lundi
										.col-md-4
											input.form-control(type="text", name="horaires[lundi][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.lundi}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[lundi][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.lundi}`)
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Mardi
										.col-md-4
											input.form-control(type="text", name="horaires[mardi][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.mardi}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[mardi][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.mardi}`)
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Mercredi
										.col-md-4
											input.form-control(type="text", name="horaires[mercredi][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.mercredi}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[mercredi][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.mercredi}`)
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Jeudi
										.col-md-4
											input.form-control(type="text", name="horaires[jeudi][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.jeudi}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[jeudi][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.jeudi}`)
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Vendredi
										.col-md-4
											input.form-control(type="text", name="horaires[vendredi][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.vendredi}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[vendredi][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.vendredi}`)
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Samedi
										.col-md-4
											input.form-control(type="text", name="horaires[samedi][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.samedi}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[samedi][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.samedi}`)
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Dimanche
										.col-md-4
											input.form-control(type="text", name="horaires[dimanche][]", placeholder="Matin ( HHMM-HHMM )" value=`${poi.horaires.dimanche}`)
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[dimanche][]", placeholder="Après-midi ( HHMM-HHMM )" value=`${poi.horaires.dimanche}`)
							else
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Lundi
										.col-md-4
											input.form-control(type="text", name="horaires[lundi][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[lundi][]", placeholder="Après-midi ( HHMM-HHMM )")
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Mardi
										.col-md-4
											input.form-control(type="text", name="horaires[mardi][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[mardi][]", placeholder="Après-midi ( HHMM-HHMM )")
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Mercredi
										.col-md-4
											input.form-control(type="text", name="horaires[mercredi][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[mercredi][]", placeholder="Après-midi ( HHMM-HHMM )")
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Jeudi
										.col-md-4
											input.form-control(type="text", name="horaires[jeudi][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[jeudi][]", placeholder="Après-midi ( HHMM-HHMM )")
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Vendredi
										.col-md-4
											input.form-control(type="text", name="horaires[vendredi][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[vendredi][]", placeholder="Après-midi ( HHMM-HHMM )")
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Samedi
										.col-md-4
											input.form-control(type="text", name="horaires[samedi][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[samedi][]", placeholder="Après-midi ( HHMM-HHMM )")
								hr
								.form-group
									.row
										.col-md-3
											label.control-label.pt-2 Dimanche
										.col-md-4
											input.form-control(type="text", name="horaires[dimanche][]", placeholder="Matin ( HHMM-HHMM )")
										.col-md-1
										.col-md-4
											input.form-control(type="text", name="horaires[dimanche][]", placeholder="Après-midi ( HHMM-HHMM )")
				
				if zones && zones.length > 0
					hr
					.form-group
					label.control-label Zone

					.row.col-md-12
						for zone in zones
							.col-md-3.animated-checkbox
								label
									- var _name = "zones[zone_"+ zone.id +"]"
									if user && user.zoneIds.includes(zone.id)
										input(type="radio" name="poiZone" value=`${zone.id}` checked=true style="vertical-align: middle") 
									else
										input(type="radio" name="poiZone" value=`${zone.id}` checked=false style="vertical-align: middle") 

									span.label-text(style="margin-left: 5px;","vertical-align: middle") #{zone.name}
				hr
				.animated-checkbox
					label
						if poi
							input(type="checkbox" name="active" checked=poi.active)
						else
							input(type="checkbox" name="active")

						span.label-text Actif
	
				.tile-footer
					button.btn.btn-primary(type="submit")
						i.fa.fa-fw.fa-lg.fa-check-circle
						| Valider
					| &nbsp;&nbsp;&nbsp;
					a.btn.btn-secondary(href="/poi")
						i.fa.fa-fw.fa-lg.fa-times-circle
						| Annuler
				br
	.clearfix
        

block specific-js