.row
	.col-md-12
		.tile
			if content 
				h3.tile-title Modifier un contenu
			else
				h3.tile-title Créer un nouveau contenu
			
			if content
				- var targetUrl = "/contents/edit/" + content.id
			else
				- var targetUrl = "/contents/add"
				
			form.content-form(action=`${targetUrl}`, method="POST", enctype="multipart/form-data")
				
				if content
					input(type="hidden" value=`${content.id}`)
								
				.form-group
					label.control-label Titre
					if content
						input.form-control(type="text", name="title", placeholder="Titre du contenu ( usage interne uniquement )" value=`${content.title}`)
					else
						input.form-control(type="text", name="title", placeholder="Titre du contenu ( usage interne uniquement )")
				
				.form-group
					label.control-label Famille
					select.form-control(name="theme")
						option(value=0) - Sélectionner -
							each theme in themes
								if content && theme.id == content.themeId
									option(value=theme.id, selected="selected")  #{theme.title}    
								else
									option(value=theme.id) #{theme.title}    
				
				.form-group
					label.control-label Thème
					select.form-control(name="category")
						option(value=0) - Sélectionner -
							each category in categories
								if content && category.id == content.categoryId
									option(value=category.id, selected="selected")  #{category.title}    
								else
									option(value=category.id) #{category.title}    
							
										
				.form-group
					label.control-label Contenu
					
					if content
						textarea.form-control(rows="20", name="text", placeholder="Contenu")=content.text
					else
						textarea.form-control(rows="20", name="text", placeholder="Contenu")
				if content
					if content.picture && content.picture.path
						img.pic-image-box-normal(src="../../"+content.picture.path)
				input.form-control(type="file" name="contentPicture")
				.animated-checkbox
					label
						if content
							input(type="checkbox" name="published" checked=content.published)
						else
							input(type="checkbox" name="published")

						span.label-text Publié
	
				.tile-footer
					button.btn.btn-primary(type="submit")
						i.fa.fa-fw.fa-lg.fa-check-circle
						| Valider
					| &nbsp;&nbsp;&nbsp;
					a.btn.btn-secondary(href="/contents")
						i.fa.fa-fw.fa-lg.fa-times-circle
						| Annuler                                
	.clearfix
        

block specific-js
	